@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1cbee2;
  --whiteCt: #f2f3f5;
  --greyCt: #313338;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
}

.scroll-ruler::-webkit-scrollbar,
.scroll-chat-ruler::-webkit-scrollbar,
#multiselectContainerReact .optionContainer::-webkit-scrollbar {
  width: 8px;
  height: 16px;
}
.scroll-ruler::-webkit-scrollbar-thumb,
.scroll-chat-ruler::-webkit-scrollbar-thumb,
#multiselectContainerReact .optionContainer::-webkit-scrollbar-thumb {
  background-color: #6e6f70;
  border-radius: 10px;
}
.scroll-ruler::-webkit-scrollbar-track,
#multiselectContainerReact .optionContainer::-webkit-scrollbar-track {
  border-color: #26282c;
}

.scroll-chat-ruler::-webkit-scrollbar-track {
  background-color: #202124;
  border-radius: 10px;
}

.active-border {
  position: relative;
}
.active-border::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 40px;
  background-color: #f2f3f5;
  border-radius: 0 4px 4px 0;
  left: -12px;
}

.nav-item :hover {
  border-radius: 16px;
  background-color: #1cbee2;
  color: #fceee2;
  transition: all 0.1s ease-out;
}

#multiselectContainerReact .chip {
  background-color: #6e6f70;
}

#multiselectContainerReact .optionListContainer {
  margin-top: 6px;
  background-color: #313338;
}
#multiselectContainerReact .search-wrapper {
  background-color: #1e1f22;
  color: #f2f3f5;
  border: 0;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
}
#multiselectContainerReact .option {
  color: #f2f3f5;
}
#multiselectContainerReact .option input {
  margin-right: 6px;
}
#multiselectContainerReact .option input:checked {
  background-color: var(--primary);
}
#multiselectContainerReact .option:hover {
  background-color: #404249;
}
.multiSelectContainer ul {
  border: 0 !important;
}
